@model ViewCourseViewModel
@{
    ViewData["Title"] = "Преглед";
}

<section class='section'>
    <div class="col-sm-5"></div>
    <div class="col-sm-4">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="col-sm-3"></div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="col-sm-12 spaceBellow">
                <div class="col-sm-4">Предмет:</div>
                <div class="col-sm-8">@Model.Name</div>
            </div>
            <div class="col-sm-12 spaceBellow">
                <div class="col-sm-4">Описание:</div>
                <div class="col-sm-8">@Model.Description</div>
            </div>
            <div class="col-sm-12 spaceBellow">
                <div class="col-sm-4">Активен:</div>
                <div class="col-sm-8">@((Model.Active == 0) ? "Не" : "Да")</div>
            </div>
            <div class="col-sm-12 m-md-top">
                <div class="col-sm-12">Информация за запис</div>
            </div>
            <div class="col-sm-12 spaceBellow">
                <div class="col-sm-4">Създаден на:</div>
                <div class="col-sm-8">@Model.Created_At.ToString()</div>
            </div>

            @if (Model.Updated_By != null)
            {
                <div class="col-sm-12 spaceBellow">
                    <div class="col-sm-4">Променен от:</div>
                    <div class="col-sm-8"> @Model.Updated_By.ToString()</div>
                </div>
            }
        </div>
    </div>
</section>


